<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="form-input-name">Name</label>
      <input id="form-input-name"
             type="text"
             class="form-control"
             placeholder="{{name}}"
             (input)="changeName($event)"
             aria-label="Username"
             aria-describedby="basic-addon1">
    </div>
    <div class="form-group">
      <label for="form-input-description">Description</label>
      <textarea id="form-input-description"
                class="form-control"
                (input)="changeDescription($event)"
                placeholder="{{description}}"
                rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="form-input-files">Images - 3 at Max</label>
        <ngx-uploadcare-widget
          id="form-input-files"
          images-only="true"
          public-key="{{UPLOADCARE_PUBLIC_KEY}}"
          multiple="true"
          multipleMax="3"
          (on-upload-complete)="handleOnUploadComplete($event)">
        </ngx-uploadcare-widget>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="handleClose()">{{closeBtnName}}</button>
  <button type="button" class="btn btn-default" (click)="handleSave()">{{saveBtnName}}</button>
</div>
