.showcase-container {
  margin: 1rem;
}

.card-img-top {
  max-height: 20em;
  max-width: 30em;
  align-self: center;
}

.card {
  margin: 0.5em;
  padding: 1rem;
}

.card-text {
  height: 10rem;
  overflow: hidden;
}
